//- Mixins ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
include mixins.pug

//- Page ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

doctype html
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="Portfólio fotográfico de shows, lifestyle, drone, cotidiano, natureza e vida selvagem")
        meta(name="og:description" content="Portfólio fotográfico de shows, lifestyle, drone, cotidiano, natureza e vida selvagem")
        meta(name="twitter:description" content="Portfólio fotográfico de shows, lifestyle, drone, cotidiano, natureza e vida selvagem")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="https://gabrieluizramos.com.br/favicon-32x32.png")
        link(rel="stylesheet" href="https://gabrieluizramos.com.br/theme/main.css")
        link(rel="stylesheet" href="./style.css")
        script !{" "}
        title Fotografia | Gabriel Ramos

    body.body
        div.loader(data-loading)
            figure.crow
                img(src="images/crow.thumb.webp")

        header.header
            h1.title Gabriel / Ramos
            h2.subtitle Fotografia
            ul.menu
                li.menu-item(data-title="contato")
                    a.menu-link(href="#contato" title="contato")
                        img.menu-image(src='icons/envelope.svg')
                each item in locals.menu
                    li.menu-item(data-title=item.title)
                        a.menu-link(href=item.href target="_blank" title=item.title)
                            - const src = `icons/${item.title}.svg`
                            img.menu-image(src=src)
        
        div.content

            section.section 
                .wrapper
                    h3.title.greeting Oi 😀
                    p.text.greeting Meu nome é <b>Gabriel</b>.

                    .about 
                        .texts
                            p.text Me apaixonei pela fotografia em meados de 2013, por influência de um amigo. Desde então, tenho dedicado boa parte do meu tempo a me aperfeiçoar e melhorar não só meu olhar fotográfico, mas a estética do meu trabalho artístico e também a forma como retrato momentos através das minhas lentes.

                            p.text De todas as vertentes que podemos imaginar, fotografia de shows sempre teve meu carinho especial. Além de apreciar e ter me dedicado à música por muito tempo, conseguir captar momentos únicos enquanto artistas performam no palco sempre foi algo desafiador e extremamente motivante para mim.

                            p.text Sentir a energia de uma música que ecoa em meio à entrega de um artista ao público quando está sobre palco e sublimar esses momentos em algo mais concreto, palpável e visual é uma experiência única e até difícil de descrever.

                            p.text Se tem algo que me fascina, é isso: conseguir combinar em um único artefato essas duas expressões artísticas, a arte de ver e a arte de ouvir. E é nessa jornada junto aos palcos que já tive a honra de trabalhar e ter minhas fotos utilizadas por alguns veículos de imprensa, bandas e produtoras, como:
                                - const outlets = [...Object.entries(locals.press), ...Object.entries(locals.producers)]
                                span.outlets-list
                                    each outlet in outlets
                                        span.outlets-item
                                            - const [name, url] = outlet
                                            - const outletClass = name.toLowerCase().replace(/\s/g, '');
                                            - const classes = `outlet ${outletClass}`
                                            a(class=classes href=url target="_blank") #{name}

                        figure.avatar
                            img(src="https://github.com/gabrieluizramos.png" alt="foto Gabriel Ramos" loading="lazy")

            section.section.music
                .wrapper
                    h3.title 🎙 Shows
                     -
                        const concerts = Object.entries(concert).reduce((concerts, [name, values]) => {
                            const rest = values.filter(c => !c.highlighted);
                            const currentHighlights = values.filter(c => c.highlighted);
                            let highlights = concerts.highlights ? [...concerts.highlights, ...currentHighlights] : currentHighlights;

                            return { ...concerts, [name]: rest, highlights}
                        }, {})
                    h4.subtitle.subdivision
                        span Destaques ⭐️
                    +gallery(concerts.highlights)

                    h4.subtitle.subdivision
                        span Recentes
                    +gallery(concerts.recent, true)

                    +archive(concerts.archived)

                hr
                div.section.ebook
                    .wrapper
                        .ebook-title
                            h3.title
                                span 📖 Então você quer fotografar shows?
                            h4.subtitle
                                span Um guia prático para enfrentar desafios dentro e fora dos palcos
                        .ebook-details
                            p.text Desde que a minha ficha caiu e eu decidi começar a me dedicar à fotografia de shows, eu demorei um tempo até conseguir entrar de cabeça nesse universo.

                            p.text Fotografar shows não é simples, mas pode ser muito prazeroso e com base no que eu vivi nesse tempo eu montei um pequeno livro.

                            p.text Nele você vai encontrar um pouco mais das minhas experiências no palco, assim como algumas dicas do que fazer (ou não) enquanto estiver cobrindo um show.

                            p.text O ebook é totalmente gratuito e você não precisa fornecer nenhum dado seu. Sem cadastro, sem email, sem enrolação. É só clicar no botão abaixo, fazer download do arquivo em PDF e curtir a leitura.
                            
                            p.text Espero que goste!
                        .ebook-cover
                            a(href="https://bit.ly/download-ebook-entao-voce-quer-fotografar-shows" target="_blank")
                                figure.ebook-figure
                                    img.ebook-img(src="ebook/capa.webp")


                        .download
                            a.button(href="https://bit.ly/download-ebook-entao-voce-quer-fotografar-shows" target="_blank") Baixar o livro
            section.section
                .wrapper 
                    h3.title Um pouco mais de história

                    p.text Como meu interesse nasceu de um hobby, durante muito tempo fotografei apenas com smartphones.

                    p.text Embora isso possa parecer um pouco limitado pra quem olha pela primeira vez, sabemos que quem faz uma boa fotografia é quem está atrás da câmera e não o equipamento. Fotografar tanto tempo com lentes fixas fez com que eu acabasse percebendo muitas situações cotidianas de um jeito diferente, e justamente dessa forma que uma das minhas fotos mais simples, tiradas com celular, possuem meu maior número de visualizações/downloads na plataforma Unsplash (<a href="https://unsplash.com/photos/MqnJttIdHGQ" target="_blank">foto</a>) chegando à aproximadamente 3 milhões de visualizações hoje, na data que escrevo esse texto.

                    p.text Aproveito pra desafiar você a tentar descobrir quais fotos daqui do portfólio foram feitas com celular. Será que você consegue descobrir? Me conta depois!

            section.section.world
                .wrapper
                    h3.title 🌎 Cotidiano & Viagens
                    +gallery(locals.world)

            section.section
                .wrapper 
                    h3.title Além do comum
                    
                    p.text Embora fotografar shows ao vivo seja o que realmente me atrai, e registrar situações cotidinas seja mais simples de encaixar no meu dia-a-dia. Sempre levo minha câmera quando vou dar uma volta por algum lugar novo.

                    p.text Fotografar por paixão me permite experimentar muitos segmentos diferentes, incluindo até alguns variados como fotografia de jogos (como você pode ver no meu <a href="https://www.flickr.com/photos/gabrieluizramos/" target="_blank">Flickr</a>), natureza e animais selvagens e domésticos.

                    p.text Clicar animais em seu espaço e situações corriqueiras é algo simples, mas que também traz uma leveza e transforma qualquer passeio em uma reserva ou refúgio biológico em algo único.

            section.section.nature
                .wrapper
                    h3.title 🌱 Natureza & Vida Selvagem
                    +gallery(locals.nature)

            section.section
                .wrapper
                    h3.title Estilo de vida

                    p.text E claro, como boa parte de qualquer pessoa que fotografa, acaba rolando alguns clicks de produtos de vez em quando. Seja das velas aromatizadas que eu deixo sobre a minha mesa, ou de algum outro produto que eu tenha comprado e queira registrar, além de algumas parcerias com marcas de produtos esportivos.
                    
                    p.text E por falar em esporte, também já tive a oportunidade de capturar alguns momentos de atletas de alto rendimento, em aulas de CrossFit.

            section.section.lifestyle
                .wrapper
                    h3.title 🏋🏼 Esportes & Produtos
                    +gallery(locals.lifestyle)

            section.section#contato
                .wrapper
                    h3.title Contato & Download
                    
                    p.text Se quiser bater um papo, é só entrar em contato comigo através do email <a href="mailto:gabriel.luiz.ramos@gmail.com">gabriel.luiz.ramos@gmail.com</a>. Você pode entrar em contato comigo através das minhas redes sociais também, como meu instagram <a href="https://www.instagram.com/gabrieluizramos/" target="_blank">@gabrieluizramos</a>.
                    
                    p.text Ah! Meu perfil de usuário nas redes por aí é sempre o mesmo. Como meu trabalho principal é na área de tecnologia, não estranhe se você encontrar algum conteúdo sobre outros assuntos por aí, tá?
                    
                    p.text Além disso, caso queira usar qualquer foto minha, você pode fazer isso através do meu perfil do <a href="https://unsplash.com/@gabrieluizramos" target="_blank">Unsplash</a> ou do <a href="https://www.pexels.com/@gabrieluizramos/" target="_blank">Pexels</a> e baixar algumas artes de forma totalmente gratuita e em alta qualidade. Admito que vou ficar muito feliz se você der os créditos e ainda mais feliz se você me disser como ficou o resultado do seu trabalho com essas fotos depois!
                    
                    p.text Caso você queira alguma foto que não esteja nessas plataformas ou em um formato específico, é só me mandar uma mensagem. Vai ser um prazer te enviar esses arquivos. 
                    
                    p.text Precisando de alguma coisa é só chamar. Nos vemos por aí!

        footer.footer
            a(href="https://gabrieluizramos.com.br/" target="_blank") @gabrieluizramos


        dialog.modal#modal
            .container
                figure.figure.polaroid(data-alt="Carregando...")
                    img.img
                    button.close &times;

        script(src="./script.js")