mixin outlet(outlet, more)
    - let base = locals[outlet.category][outlet.name] || locals[outlet.category][outlet.network] || '';
    - const article = outlet.article;
    - const href = article ? `${base}${article}` : base
    - const outletClass = outlet.category === 'social' ? outlet.network : outlet.name.toLowerCase().replace(/\s/g, '');
    - const classes = ['outlet', outletClass, more && 'more'].filter(c => c).join(' ');
    a(href=href  target="_blank" title=press.title class=classes) #{outlet.name}

mixin details(category)
    if category.details
        .details
            if category.details.artists
                dl.artists
                    dt.artist.detail Artistas: !{" "}
                    each artist in category.details.artists
                        dd.artist.info #{artist}
            if category.details.venue && category.details.date
                p.date-venue
                    span.detail #{category.details.date} !{" "}
                    span.info @
                    span.detail !{" "} #{category.details.venue}
            if category.details.outlet
                if category.details.outlet.category
                    p.press
                        span.detail Cobertura: !{" "}
                        +outlet(category.details.outlet)
                if category.details.outlet.more
                    p.press
                        span.detail Veja mais em: !{" "}
                            each extra in category.details.outlet.more
                                +outlet(extra, true)

mixin photos(category)
    summary.expander(data-emoji=category.emoji)
        h4.subtitle
            span #{category.title}
    +details(category)
    .gallery
        ul.scrollable
            - let count = 0;
            while count < category.count
                - count++;
                - const href = `${category.path}/photo-${count}.webp`;
                - const img = `${category.path}/photo-${count}.thumb.webp`;
                li.photo
                    button.clickable
                        figure
                            - const loading = category.open ? 'eager' : 'lazy';
                            img(src=img data-href=href alt=category.title loading=loading)
mixin accordion(category)
    if category.open
        details.accordion(open)
            +photos(category)
    else 
        details.accordion
            +photos(category)


mixin gallery(items, archived)
    - items = items.filter(g => g.count)
    each category, index in items
        - category.open = index === 0 && !archived
        +accordion(category)

mixin archive(items)
    details.accordion.archive
        summary.expander.subdivision
            h4.subtitle.subdivision
                span.check Ver    
        +gallery(items, true)