mixin vehicle(press, more)
    - const base = locals.press[press.vehicle]
    - const article = press.article;
    - const href = article ? `${base}${article}` : base
    - const vehicleClass = press.vehicle.toLowerCase().replace(/\s/g, '');
    - const classes = `vehicle ${vehicleClass} ${more && 'more'}`
    a(href=href  target="_blank" title=press.title class=classes) #{press.vehicle}

mixin details(category)
    if category.details
        .details
            if category.details.artists
                dl.artists
                    dt.artist.detail Artistas: !{" "}
                    each artist in category.details.artists
                        dd.artist.info #{artist}
            if category.details.venue && category.details.date
                p.date-venue
                    span.detail #{category.details.date} !{" "}
                    span.info @
                    span.detail !{" "} #{category.details.venue}
            if category.details.press
                p.press
                    span.detail Veículo: !{" "}
                        +vehicle(category.details.press)
                if category.details.press.more
                    p.press
                        span.detail Veja mais em: !{" "}
                            each extra in category.details.press.more
                                +vehicle(extra, true)

mixin photos(category)
    summary.expander(data-emoji=category.emoji)
        h4.subtitle
            span #{category.title}
    +details(category)
    .gallery
        ul.scrollable
            - let count = 0;
            while count < category.count
                - count++;
                - const href = `${category.path}/photo-${count}.webp`;
                - const img = `${category.path}/photo-${count}.thumb.webp`;
                li.photo
                    button.clickable
                        figure
                            - const loading = category.open ? 'eager' : 'lazy';
                            img(src=img data-href=href alt=category.title loading=loading)
mixin accordion(category)
    if category.open
        details.accordion(open)
            +photos(category)
    else 
        details.accordion
            +photos(category)


mixin gallery(items, archived)
    - items = items.filter(g => g.count)
    each category, index in items
        - category.open = index === 0 && !archived
        +accordion(category)

mixin archive(items)
    details.accordion.archive
        summary.expander.subdivision(data-emoji="🗄️")
            h4.subtitle.subdivision
                span Anteriores        
        +gallery(items, true)